#gsfx_brnd_PageWrapper
{
	width: 100% !important;
}

#gsfx_brnd_WidthFix
{
	width: 0px !important;
}

#contentArea
{
	min-width: 0px !important;
}

.SURVEYCONTAINER,
.SURVEYCONTAINER .SURVEYHEADER,
.SURVEYCONTAINER .SURVEYFOOTER,
.SURVEYCONTAINER .SURVEYTITLETEXT,
.SURVEYCONTAINER #SURVEYSECTIONCONTAINER,
.SURVEYCONTAINER #SURVEYSECTIONCONTAINER #DIV_0,
.SURVEYCONTAINER #SURVEYSECTIONCONTAINER #DIV_0 .SURVEYINTROTEXT,
.SURVEYCONTAINER #SURVEYSECTIONCONTAINER #DIV_CLOSE,
.SURVEYCONTAINER #SURVEYSECTIONCONTAINER #DIV_CLOSE .SURVEYTHANKYOUTEXT,
.SURVEYCONTAINER #SURVEYSECTIONCONTAINER .NAVIGATION .NAVBUTTONCONTAINER,
.SURVEYCONTAINER #SURVEYSECTIONCONTAINER .SURVEYSECTION,
.SURVEYCONTAINER #SURVEYSECTIONCONTAINER .SURVEYSECTION .QUESTIONCONTAINER,
.SURVEYCONTAINER #SURVEYSECTIONCONTAINER .SURVEYSECTION .QUESTIONCONTAINER .QUESTIONTEXT,
.SURVEYCONTAINER #SURVEYSECTIONCONTAINER .SURVEYSECTION .QUESTIONCONTAINER .ANSWERTEXT,
.SURVEYCONTAINER #SURVEYSECTIONCONTAINER .SURVEYSECTION .QUESTIONCONTAINER .OPTIONALTEXTBOX,
.SURVEYCONTAINER #SURVEYSECTIONCONTAINER .SURVEYSECTION .QUESTIONCONTAINER .GHR_QUESTIONTEXT,
.SURVEYCONTAINER #SURVEYSECTIONCONTAINER .SURVEYSECTION .QUESTIONCONTAINER .OPTIONALTEXTBOXINSTRUCTION,
.SURVEYCONTAINER #SURVEYSECTIONCONTAINER .SURVEYSECTION .NAVIGATION .PROGRESSBARCONTAINER,
.SURVEYCONTAINER #SURVEYSECTIONCONTAINER .SURVEYSECTION .NAVIGATION .PROGRESSBARCONTAINER .PROGRESSTEXT,
.SURVEYCONTAINER #SURVEYSECTIONCONTAINER .NAVIGATION TABLE.NAVBUTTONCONTAINER,
.SURVEYCONTAINER #SURVEYSECTIONCONTAINER .NAVIGATION TABLE.NAVBUTTONCONTAINER TD,
.SURVEYCONTAINER #SURVEYSECTIONCONTAINER .NAVIGATION .PROGRESSBARCONTAINER TABLE,
.SURVEYCONTAINER #SURVEYSECTIONCONTAINER .NAVIGATION .PROGRESSBARCONTAINER TABLE TD,
.SURVEYCONTAINER #SURVEYSECTIONCONTAINER .SURVEYSECTION .QUESTIONCONTAINER TABLE,
.SURVEYCONTAINER #SURVEYSECTIONCONTAINER .SURVEYSECTION .QUESTIONCONTAINER TABLE TD
{
	font-size: 12px;
	font-family: "Segoe UI";
	font-weight: normal;
}

.SURVEYCONTAINER
{
    width: 100%;
    height: 100%;
    min-width: 600px;
    overflow: hidden;
}

.SURVEYCONTAINER .SURVEYTITLETEXT,
.SURVEYCONTAINER .SURVEYHEADER,
.SURVEYCONTAINER .SURVEYFOOTER
{
	margin-left: 16px;
	margin-right: 16px;
	margin-top: 0px;
	margin-bottom: 20px;
}

.SURVEYCONTAINER .SURVEYFOOTER A,
.QUESTIONCONTAINER A
{
    text-decoration: underline; 
}

.SURVEYCONTAINER #SURVEYSECTIONCONTAINER #DIV_0 .SURVEYINTROCONTAINER,
.SURVEYCONTAINER #SURVEYSECTIONCONTAINER #DIV_CLOSE .SURVEYTHANKYOUCONTAINER,
.SURVEYCONTAINER #SURVEYSECTIONCONTAINER .SURVEYSECTION .QUESTIONCONTAINER
{
	padding-left: 16px;
	padding-right: 16px;
	padding-top: 16px;
	font-size: 12px;
}

.SURVEYCONTAINER #SURVEYSECTIONCONTAINER .SURVEYSECTION .QUESTIONCONTAINER
{
	padding-bottom: 8px;
	border-bottom: none;
}

.SURVEYCONTAINER #SURVEYSECTIONCONTAINER .SURVEYSECTION .QUESTIONCONTAINER .QUESTIONTEXT
{
	padding-bottom: 5px;
	float:left;
}

.SURVEYCONTAINER #SURVEYSECTIONCONTAINER .SURVEYSECTION .QUESTIONCONTAINER TABLE TABLE TD .OPTIONALTEXTBOX
{
	margin-top: 1px;
	margin-bottom: 1px;
}

.SURVEYCONTAINER #SURVEYSECTIONCONTAINER .SURVEYSECTION .QUESTIONCONTAINER TABLE TD TABLE TD
{
	padding: 0px;
}

.SURVEYCONTAINER #SURVEYSECTIONCONTAINER .SURVEYSECTION .QUESTIONCONTAINER .CHOICEROW TD
{
	padding: 0px;
}

.SURVEYCONTAINER #SURVEYSECTIONCONTAINER .SURVEYSECTION .QUESTIONCONTAINER .GHR_QUESTIONTEXT,
.SURVEYCONTAINER #SURVEYSECTIONCONTAINER .SURVEYSECTION .QUESTIONCONTAINER .GHR_LEGENDTEXT
{
	padding-bottom: 2px;
	padding-top: 2px;
}

.SURVEYCONTAINER #SURVEYSECTIONCONTAINER .SURVEYSECTION .QUESTIONCONTAINER .GHR_LEGENDTEXT
{
	height: 12px;
}

.SURVEYCONTAINER #SURVEYSECTIONCONTAINER .SURVEYSECTION .QUESTIONCONTAINER .GHR_HEADER .GHR_LEGENDTEXT
{
	font-weight: normal;
	font-size: 11px;
	height: 12px;
}

.SURVEYCONTAINER #SURVEYSECTIONCONTAINER .SURVEYSECTION .QUESTIONCONTAINER .GHR_LEGENDTEXT,
.SURVEYCONTAINER #SURVEYSECTIONCONTAINER .SURVEYSECTION .QUESTIONCONTAINER .GHR_EVENROW,
.SURVEYCONTAINER #SURVEYSECTIONCONTAINER .SURVEYSECTION .QUESTIONCONTAINER .GHR_EVENROW TD,
.SURVEYCONTAINER #SURVEYSECTIONCONTAINER .SURVEYSECTION .QUESTIONCONTAINER .GHR_ODDROW,
.SURVEYCONTAINER #SURVEYSECTIONCONTAINER .SURVEYSECTION .QUESTIONCONTAINER .GHR_ODDROW TD
{
    min-width: 20px;
	background-color: transparent;
}

.SURVEYCONTAINER #SURVEYSECTIONCONTAINER .SURVEYSECTION .QUESTIONCONTAINER .ANSWERBOX
{
	width: 90%;
	font-size: 12px;
}

.SURVEYCONTAINER #SURVEYSECTIONCONTAINER .SURVEYSECTION .NAVIGATION .PROGREBARCONTAINER
{
	padding-top: 8px;
	padding-bottom: 20px;
	padding-left: 16px;
	padding-right: 16px;
}

.SURVEYCONTAINER #SURVEYSECTIONCONTAINER .NAVIGATION .NAVBUTTONCONTAINER
{
	margin-top: 20px;
}

.SURVEYCONTAINER #SURVEYSECTIONCONTAINER .NAVIGATION .NAVBUTTONCONTAINER .NAVBUTTONCELL,
.SURVEYCONTAINER #SURVEYSECTIONCONTAINER .NAVIGATION .NAVBUTTONCONTAINER .NAVBUTTONCELL .NAVBUTTON
{
	width: 80px;
}

.SURVEYCONTAINER #SURVEYSECTIONCONTAINER .NAVIGATION .NAVBUTTONCONTAINER .NAVBUTTONCELL .NAVBUTTON
{
	font-size: 12px;
	height: 20px;
}

.SURVEYCONTAINER #SURVEYSECTIONCONTAINER .NAVIGATION .NAVBUTTONCONTAINER .NAVBUTTONLITER
{
	width: 20px;
}

.SURVEYCONTAINER #SURVEYSECTIONCONTAINER .NAVIGATION .NAVBUTTONCONTAINER .ENDPADDINGCELL
{
	width: auto;
}

.SURVEYCONTAINER #SURVEYSECTIONCONTAINER .ErrorMsgBlock
{
	padding: 16px;
	margin-bottom: 16px;
}

.TRACKINGMSG
{
	padding: 16px;
}

#divLogo img, #divProductImageResponse {
    margin-left: 0px;
    margin-bottom: 10px;
    margin-top: 10px;
}

#tabLinksView tbody tr div, #tabLinksViewR tbody tr div {
    display: inline;
    margin-right: 5px;
    margin-left: 5px;
}

.SURVEYCONTAINER #SURVEYSECTIONCONTAINER .SURVEYSECTION .QUESTIONCONTAINER .GHR_HEADER .GHR_LEGENDTEXT,
.SURVEYCONTAINER #SURVEYSECTIONCONTAINER .SURVEYSECTION .QUESTIONCONTAINER .GHR_HEADER .GHR_LEGENDQUESTIONTEXT {
    background-color: transparent;
}

.SURVEYCONTAINER #SURVEYSECTIONCONTAINER .SURVEYSECTION .NAVIGATION .PROGRESSBARCONTAINER {
    padding-top: 10px;
    padding-bottom: 30px;
    padding-left: 25px;
    padding-right: 25px;
    width: auto;
}

#divFootviewForm p, #divFootviewFormR p {
    margin: 0px;
}

.SURVEYCONTAINER #SURVEYSECTIONCONTAINER .SURVEYSECTION .NAVIGATION #PreviousButton {
    display:none;
}

.SURVEYCONTAINER #SURVEYSECTIONCONTAINER .SURVEYSECTION .QUESTIONCONTAINER .QUESTIONREQUIREDPREFIXED
{
	color: red;
	font-weight: bold;
	float:left;
	display:block;
	margin-left:2px;
	margin-top:2px;
}

.SURVEYCONTAINER #SURVEYSECTIONCONTAINER .SURVEYSECTION .QUESTIONCONTAINER .QUESTIONREQUIRED
{
	display:none;
}

.SURVEYCONTAINER #SURVEYSECTIONCONTAINER .SURVEYSECTION .QUESTIONCONTAINER .QUESTIONREQUIREDCLEAR
{
    display:block;
    clear:both;
}