.SURVEYCONTAINER,
.SURVEYCONTAINER .SURVEYHEADER,
.SURVEYCONTAINER #SURVEYSECTIONCONTAINER,
.SURVEYCONTAINER #SURVEYSECTIONCONTAINER #DIV_0,
.SURVEYCONTAINER #SURVEYSECTIONCONTAINER #DIV_0 .SURVEYINTROTEXT,
.SURVEYCONTAINER #SURVEYSECTIONCONTAINER #DIV_CLOSE,
.SURVEYCONTAINER #SURVEYSECTIONCONTAINER #DIV_CLOSE .SURVEYTHANKYOUTEXT,
.SURVEYCONTAINER #SURVEYSECTIONCONTAINER .NAVIGATION .NAVBUTTONCONTAINER,
.SURVEYCONTAINER #SURVEYSECTIONCONTAINER .SURVEYSECTION,
.SURVEYCONTAINER #SURVEYSECTIONCONTAINER .SURVEYSECTION .QUESTIONCONTAINER,
.SURVEYCONTAINER #SURVEYSECTIONCONTAINER .SURVEYSECTION .QUESTIONCONTAINER .QUESTIONTEXT,
.SURVEYCONTAINER #SURVEYSECTIONCONTAINER .SURVEYSECTION .QUESTIONCONTAINER .ANSWERTEXT,
.SURVEYCONTAINER #SURVEYSECTIONCONTAINER .SURVEYSECTION .QUESTIONCONTAINER .OPTIONALTEXTBOX,
.SURVEYCONTAINER #SURVEYSECTIONCONTAINER .SURVEYSECTION .QUESTIONCONTAINER .GHR_QUESTIONTEXT,
.SURVEYCONTAINER #SURVEYSECTIONCONTAINER .SURVEYSECTION .QUESTIONCONTAINER .OPTIONALTEXTBOXINSTRUCTION,
.SURVEYCONTAINER #SURVEYSECTIONCONTAINER .SURVEYSECTION .NAVIGATION .PROGRESSBARCONTAINER,
.SURVEYCONTAINER #SURVEYSECTIONCONTAINER .SURVEYSECTION .NAVIGATION .PROGRESSBARCONTAINER .PROGRESSTEXT,
.SURVEYCONTAINER #SURVEYSECTIONCONTAINER .NAVIGATION TABLE.NAVBUTTONCONTAINER TD,
.SURVEYCONTAINER #SURVEYSECTIONCONTAINER .NAVIGATION .PROGRESSBARCONTAINER TABLE,
.SURVEYCONTAINER #SURVEYSECTIONCONTAINER .NAVIGATION .PROGRESSBARCONTAINER TABLE TD,
.SURVEYCONTAINER #SURVEYSECTIONCONTAINER .SURVEYSECTION .QUESTIONCONTAINER TABLE,
.SURVEYCONTAINER #SURVEYSECTIONCONTAINER .SURVEYSECTION .QUESTIONCONTAINER TABLE TD,
.TRACKINGMSG
{
	direction: ltr;
	text-align: left;
}

.SURVEYCONTAINER #SURVEYSECTIONCONTAINER .SURVEYSECTION .QUESTIONCONTAINER .GHR_QUESTIONTEXT,
.SURVEYCONTAINER #SURVEYSECTIONCONTAINER .SURVEYSECTION .QUESTIONCONTAINER .GHR_LEGENDTEXT
{
	margin-left: 5px;
}

.SURVEYCONTAINER #SURVEYSECTIONCONTAINER .NAVIGATION .PROGRESSBARCONTAINER .PROGRESSBAR,
.SURVEYCONTAINER #SURVEYSECTIONCONTAINER .NAVIGATION .PROGRESSBARCONTAINER .PROGRESSBAR .PROGRESSBARFILL
{
	background-position: left center;
}

.SURVEYCONTAINER #SURVEYSECTIONCONTAINER .SURVEYSECTION .QUESTIONCONTAINER TABLE,
.SURVEYCONTAINER #SURVEYSECTIONCONTAINER .SURVEYSECTION .QUESTIONCONTAINER TABLE TD
{    
    vertical-align : middle;
}