#gsfx_brnd_NetworkHeader, #gsfx_brnd_LocalToolBar, #gsfx_brnd_ToolbarShadow, #gsfx_brnd_SearchWrapper
{
	display: none !important;
}

/* css hack for bug#67722 */
/* for FireFox */
#gsfx_brnd_PageContainer
{
	width: 100% !important;
}

/* for IE */
* html #gsfx_brnd_PageContainer
{
	width: auto !important;
}

.SURVEYCONTAINER
{
	display: none;
}

.SURVEYCONTAINER,
.SURVEYCONTAINER .SURVEYHEADER,
.SURVEYCONTAINER .SURVEYFOOTER,
.SURVEYCONTAINER #SURVEYSECTIONCONTAINER,
.SURVEYCONTAINER #SURVEYSECTIONCONTAINER #DIV_0,
.SURVEYCONTAINER #SURVEYSECTIONCONTAINER #DIV_0 .SURVEYINTROTEXT,
.SURVEYCONTAINER #SURVEYSECTIONCONTAINER #DIV_CLOSE,
.SURVEYCONTAINER #SURVEYSECTIONCONTAINER #DIV_CLOSE .SURVEYTHANKYOUTEXT,
.SURVEYCONTAINER #SURVEYSECTIONCONTAINER .NAVIGATION .NAVBUTTONCONTAINER,
.SURVEYCONTAINER #SURVEYSECTIONCONTAINER .SURVEYSECTION,
.SURVEYCONTAINER #SURVEYSECTIONCONTAINER .SURVEYSECTION .QUESTIONCONTAINER,
.SURVEYCONTAINER #SURVEYSECTIONCONTAINER .SURVEYSECTION .QUESTIONCONTAINER .QUESTIONTEXT,
.SURVEYCONTAINER #SURVEYSECTIONCONTAINER .SURVEYSECTION .QUESTIONCONTAINER .ANSWERTEXT,
.SURVEYCONTAINER #SURVEYSECTIONCONTAINER .SURVEYSECTION .QUESTIONCONTAINER .OPTIONALTEXTBOX,
.SURVEYCONTAINER #SURVEYSECTIONCONTAINER .SURVEYSECTION .QUESTIONCONTAINER .GHR_QUESTIONTEXT,
.SURVEYCONTAINER #SURVEYSECTIONCONTAINER .SURVEYSECTION .QUESTIONCONTAINER .OPTIONALTEXTBOXINSTRUCTION,
.SURVEYCONTAINER #SURVEYSECTIONCONTAINER .SURVEYSECTION .NAVIGATION .PROGRESSBARCONTAINER,
.SURVEYCONTAINER #SURVEYSECTIONCONTAINER .SURVEYSECTION .NAVIGATION .PROGRESSBARCONTAINER .PROGRESSTEXT,
.SURVEYCONTAINER #SURVEYSECTIONCONTAINER .NAVIGATION TABLE.NAVBUTTONCONTAINER,
.SURVEYCONTAINER #SURVEYSECTIONCONTAINER .NAVIGATION TABLE.NAVBUTTONCONTAINER TD,
.SURVEYCONTAINER #SURVEYSECTIONCONTAINER .NAVIGATION .PROGRESSBARCONTAINER TABLE,
.SURVEYCONTAINER #SURVEYSECTIONCONTAINER .NAVIGATION .PROGRESSBARCONTAINER TABLE TD,
.SURVEYCONTAINER #SURVEYSECTIONCONTAINER .SURVEYSECTION .QUESTIONCONTAINER TABLE,
.SURVEYCONTAINER #SURVEYSECTIONCONTAINER .SURVEYSECTION .QUESTIONCONTAINER TABLE TD
{
	font-size: 14px;
	font-family: Segoe UI;
	font-weight: normal;
	font-variant:normal;
	font-style:normal;
	color: black;
	line-height: normal;
}

.SURVEYCONTAINER #SURVEYSECTIONCONTAINER .NAVIGATION TABLE.NAVBUTTONCONTAINER,
.SURVEYCONTAINER #SURVEYSECTIONCONTAINER .NAVIGATION TABLE.NAVBUTTONCONTAINER TD,
.SURVEYCONTAINER #SURVEYSECTIONCONTAINER .NAVIGATION .PROGRESSBARCONTAINER TABLE,
.SURVEYCONTAINER #SURVEYSECTIONCONTAINER .NAVIGATION .PROGRESSBARCONTAINER TABLE TD,
.SURVEYCONTAINER #SURVEYSECTIONCONTAINER .SURVEYSECTION .QUESTIONCONTAINER TABLE,
.SURVEYCONTAINER #SURVEYSECTIONCONTAINER .SURVEYSECTION .QUESTIONCONTAINER TABLE TD
{
	background-color: transparent;
	border: none;
}

.SURVEYCONTAINER #SURVEYSECTIONCONTAINER .SURVEYSECTION .QUESTIONCONTAINER TABLE
{
	table-layout: auto;
}

.SURVEYCONTAINER #SURVEYSECTIONCONTAINER .SURVEYSECTION .QUESTIONCONTAINER TABLE,
.SURVEYCONTAINER #SURVEYSECTIONCONTAINER .SURVEYSECTION .QUESTIONCONTAINER TABLE TD
{
	padding: 0;
	margin: 0;
}

.SURVEYCONTAINER #SURVEYSECTIONCONTAINER .SURVEYSECTION .QUESTIONCONTAINER TABLE TD TABLE TD
{
	padding: 2px;
}

.SURVEYCONTAINER .SURVEYHEADERIMAGE
{
	margin-left: 0px;
}

.SURVEYCONTAINER .SURVEYTITLETEXT,
.SURVEYCONTAINER .SURVEYHEADER,
.SURVEYCONTAINER .SURVEYFOOTER
{
	margin-left: 25px;
	margin-right: 25px;
	margin-top: 25px;
	margin-bottom: 5px;
}

.SURVEYCONTAINER .SURVEYTITLETEXT
{
	font-size: 24px;
}

.SURVEYCONTAINER #SURVEYSECTIONCONTAINER
{
	margin-left: 0;
	margin-right: 0;
	padding-left: 0px;
	padding-right: 0px;
	width: 100%;
}

.SURVEYCONTAINER #SURVEYSECTIONCONTAINER #DIV_0 .SURVEYINTROCONTAINER,
.SURVEYCONTAINER #SURVEYSECTIONCONTAINER #DIV_CLOSE .SURVEYTHANKYOUCONTAINER,
.SURVEYCONTAINER #SURVEYSECTIONCONTAINER .SURVEYSECTION .QUESTIONCONTAINER
{
	margin-left: 0px;
	margin-right: 0px;
	padding-left: 25px;
	padding-right: 25px;
	padding-top: 25px;
	margin-bottom: 0px;
	font-size: 12px;
}

.SURVEYCONTAINER #SURVEYSECTIONCONTAINER #DIV_0 .SURVEYINTROCONTAINER,
.SURVEYCONTAINER #SURVEYSECTIONCONTAINER #DIV_CLOSE .SURVEYTHANKYOUCONTAINER
{
	padding-bottom: 0px;
}

.SURVEYCONTAINER #SURVEYSECTIONCONTAINER .SURVEYSECTION .QUESTIONCONTAINER
{
	padding-bottom: 25px;
	border-bottom: solid 1px #F1F1F1;
}

.SURVEYCONTAINER #SURVEYSECTIONCONTAINER .SURVEYSECTION .QUESTIONCONTAINER .ANSWERBOX
{
	margin: 0px;
}

.SURVEYCONTAINER #SURVEYSECTIONCONTAINER .SURVEYSECTION .QUESTIONCONTAINER TABLE TABLE TD .OPTIONALTEXTBOX
{
	margin: 10px 10px 10px 10px;
}

.SURVEYCONTAINER #SURVEYSECTIONCONTAINER .SURVEYSECTION .QUESTIONCONTAINER .GHR_QUESTIONTEXT
{
	padding-bottom: 3px;
	padding-top: 3px;
}

.SURVEYCONTAINER #SURVEYSECTIONCONTAINER .SURVEYSECTION .QUESTIONCONTAINER .GHR_LEGENDTEXT,
.SURVEYCONTAINER #SURVEYSECTIONCONTAINER .SURVEYSECTION .QUESTIONCONTAINER .GHR_HEADER .GHR_LEGENDQUESTIONTEXT
{
	font-weight: bold;
	color: #333333;
	height: 14px;
	text-align: center;
	padding: 3px 2px 3px 2px;
	background-color: #E8E8E8;
}

.SURVEYCONTAINER #SURVEYSECTIONCONTAINER .SURVEYSECTION .QUESTIONCONTAINER .CHOICEROW TD
{
	padding: 1px;
}

.SURVEYCONTAINER #SURVEYSECTIONCONTAINER .SURVEYSECTION .QUESTIONCONTAINER .GHR_HEADER .GHR_LEGENDTEXT
{
	font-weight: bold;
	font-size: 14px;
	background-color: #E8E8E8;
	height: 20px;
}

.SURVEYCONTAINER #SURVEYSECTIONCONTAINER .SURVEYSECTION .QUESTIONCONTAINER TABLE TABLE,
.SURVEYCONTAINER #SURVEYSECTIONCONTAINER .SURVEYSECTION .NAVIGATION .PROGRESSBARCONTAINER TABLE
{
	width: auto;
}

.SURVEYCONTAINER #SURVEYSECTIONCONTAINER .SURVEYSECTION .QUESTIONCONTAINER .GHR_LEGENDTEXT TABLE
{
	width: 100%;
	margin: 0 0 0 0;
}

.SURVEYCONTAINER #SURVEYSECTIONCONTAINER .SURVEYSECTION .QUESTIONCONTAINER TR.GHR_LEGENDTEXT TD.GHR_LEGENDTEXT,
.SURVEYCONTAINER #SURVEYSECTIONCONTAINER .SURVEYSECTION .QUESTIONCONTAINER .GHR_LEGENDTEXT TABLE TR.GHR_LEGENDTEXT TD
{
	text-align: center;
	vertical-align: middle;
}

.SURVEYCONTAINER #SURVEYSECTIONCONTAINER .SURVEYSECTION .QUESTIONCONTAINER .GHR_EVENROW,
.SURVEYCONTAINER #SURVEYSECTIONCONTAINER .SURVEYSECTION .QUESTIONCONTAINER .GHR_EVENROW TD
{
	background-color: #E8E8E8;
	vertical-align:middle;
	text-align:center;
}

.SURVEYCONTAINER #SURVEYSECTIONCONTAINER .SURVEYSECTION .QUESTIONCONTAINER .GHR_ODDROW,
.SURVEYCONTAINER #SURVEYSECTIONCONTAINER .SURVEYSECTION .QUESTIONCONTAINER .GHR_ODDROW TD
{
	background-color: #F1F1F1;
	vertical-align:middle;
	text-align:center;
}

.SURVEYCONTAINER #SURVEYSECTIONCONTAINER .SURVEYSECTION .QUESTIONCONTAINER .GHR_HEADER .GHR_LEGENDQUESTIONTEXT
{
    width: 25%;
}

.SURVEYCONTAINER #SURVEYSECTIONCONTAINER .SURVEYSECTION .QUESTIONCONTAINER .GHR_EVENROW TD INPUT[type|='radio'],
.SURVEYCONTAINER #SURVEYSECTIONCONTAINER .SURVEYSECTION .QUESTIONCONTAINER .GHR_ODDROW TD INPUT[type|='radio']
{
	margin-right: 0px;
	vertical-align: middle;
}

.SURVEYCONTAINER #SURVEYSECTIONCONTAINER .SURVEYSECTION .QUESTIONCONTAINER .GHR_ODDROW TD .RATINGNUMBER
{
	vertical-align: middle;
}
.SURVEYCONTAINER #SURVEYSECTIONCONTAINER .NAVIGATION
{
	padding-top: 0px;
	padding-bottom: 20px;
}

.SURVEYCONTAINER #SURVEYSECTIONCONTAINER .SURVEYSECTION .NAVIGATION .PROGRESSBARCONTAINER
{
	padding-top: 10px;
	padding-bottom: 30px;
	padding-left: 25px;
	padding-right: 25px;
	width: 100%;
}

.SURVEYCONTAINER #SURVEYSECTIONCONTAINER .NAVIGATION .NAVBUTTONCONTAINER
{
	width: 100%;
	margin-top: 30px;
	table-layout: fixed;
	border-collapse: collapse;
}

.SURVEYCONTAINER #SURVEYSECTIONCONTAINER .NAVIGATION .NAVBUTTONCONTAINER .PADDINGCELL
{
	width: auto;
}

.SURVEYCONTAINER #SURVEYSECTIONCONTAINER .NAVIGATION .NAVBUTTONCONTAINER .ENDPADDINGCELL
{
	width: 30px;
}

.SURVEYCONTAINER #SURVEYSECTIONCONTAINER #DIV_0 .NAVIGATION .NAVBUTTONCONTAINER .ENDPADDINGCELL
{
	width: auto;
}

.SURVEYCONTAINER #SURVEYSECTIONCONTAINER .NAVIGATION .NAVBUTTONCONTAINER .NAVBUTTONCELL
{
	padding: 0px;
	width: 120px;
}

.SURVEYCONTAINER #SURVEYSECTIONCONTAINER .NAVIGATION .NAVBUTTONCONTAINER .NAVBUTTONCELL .NAVBUTTON
{
	font-size: 14px;
	font-family: Segoe UI;
	font-weight: normal;
	font-style: normal;
	font-variant: normal;
	line-height: normal;
	text-align:center;
	height: 25px;
	width: 120px;
}

.SURVEYCONTAINER #SURVEYSECTIONCONTAINER .NAVIGATION .NAVBUTTONCONTAINER .NAVBUTTONSPLITER
{
	width: 40px;
}

.SURVEYCONTAINER #SURVEYSECTIONCONTAINER .SURVEYSECTION .NAVIGATION .PROGRESSBARCONTAINER .PROGRESSBAR
{
	background-image: url(/library/images/support/cn/ProgressBar_BG.png);
	background-repeat: no-repeat;
	width: 100px;
	height: 16px;
	padding: 0;
	margin: 0;
	vertical-align: middle;
}

.SURVEYCONTAINER #SURVEYSECTIONCONTAINER .SURVEYSECTION .NAVIGATION .PROGRESSBARCONTAINER .PROGRESSBAR .PROGRESSBARFILL
{
	margin: 0;
	padding: 0;
	background-image: url(/library/images/support/cn/ProgressBar.png);
	background-repeat: no-repeat;
	height: 16px;
}

.SURVEYCONTAINER #SURVEYSECTIONCONTAINER .SURVEYSECTION .NAVIGATION .PROGRESSBARCONTAINER .PROGRESSTEXT
{
	width: 50px;
	padding-left: 10px;
	padding-right: 10px;
}

.SURVEYCONTAINER #SURVEYSECTIONCONTAINER .SURVEYSECTION .QUESTIONCONTAINER .QUESTIONTEXT
{
	padding-bottom: 40px;
	padding-top: 0px;
}

.SURVEYCONTAINER #SURVEYSECTIONCONTAINER .SURVEYSECTION .QUESTIONCONTAINER .QUESTIONINSTRUCTION
{
	padding: 0px;
}

.SURVEYCONTAINER #SURVEYSECTIONCONTAINER .SURVEYSECTION .QUESTIONCONTAINER .QUESTIONREQUIRED
{
	color: red;
	font-weight: bold;
}

.SURVEYCONTAINER #SURVEYSECTIONCONTAINER .SURVEYSECTION .QUESTIONCONTAINER .QUESTIONREQUIREDPREFIXED,
.SURVEYCONTAINER #SURVEYSECTIONCONTAINER .SURVEYSECTION .QUESTIONCONTAINER .QUESTIONREQUIREDCLEAR
{
    display:none;
}

.SURVEYCONTAINER #SURVEYSECTIONCONTAINER .SURVEYSECTION .QUESTIONCONTAINER .OPTIONALTEXTBOXINSTRUCTION
{
	color: #666666;
}

.SURVEYCONTAINER #SURVEYSECTIONCONTAINER .SURVEYSECTION .QUESTIONCONTAINER .ANSWERCONTROL
{
	font-weight: bold;
	text-align: center;
}

.SURVEYNOSCRIPT
{
	font-weight: bold;
	font-size: 14pt;
	color: red;
}

.SURVEYCONTAINER #SURVEYSECTIONCONTAINER .ErrorMsgBlock
{
	padding: 25px;
	margin-bottom: 40px;
	background-color: #FFFF99;
}

.TRACKINGMSG
{
	display: block;
	padding: 25px;
}
